body {

    height: 1000px;
    background-image: url(images/background3.png);
    background-size: cover;
  
}

section {
    margin-top: 5%;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 3%;
    width: 800px;
    float: left;
    background-image: url(images/back.png);
    background-size: cover;
    border: solid 3px;
    border-color: rgba(255, 0, 0, 0.449);
}

h1 {
    color: rgb(255, 208, 208);
    font-size: 80px;
    font-family: fantasy;
    margin-bottom: 0%;
    padding-left: 25px;

}

h2 {
    color: rgb(255, 208, 208);
    font-size: 45px;
    font-family: fantasy;
    margin-bottom: 0%;
    padding-left: 25px;
}

h5 {
    color: rgb(255, 208, 208);
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 25px;
}



a {
    color: rgb(255, 208, 208);
    font-size: 30px;
}

header {
    margin: auto;
    width: 1920px;
}

section img {
    width: 728px;

    border: solid 5px;
    border-color: rgba(255, 0, 0, 0.287);

}

hr {
    color: rgba(71, 4, 4, 0.645);

}



nav {
    position: absolute;
    width: 1888px;
    background-image: url(images/summary.png);
    border: solid 3px;
    border-color: rgb(0, 0, 0);
   

}

nav a {
  
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: left;
  padding-left: 3%;
}

main {
    margin: auto;
    width: 1920px;
}

footer a {
    text-align: center;
    padding-left: 8%;
    color: rgb(255, 208, 208);
    padding-top: 0%;
    margin-top: 0%;
}


section a {
    padding-left: 25px;
}
footer img{
    width: 300px;
}
footer{ width: 1000px;}