body {

    height: 1084px;
    background-image: url(images/background3.png);
    background-size: cover;

    background-color: black;
}

section {
    margin-top: 5%;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 3%;
    width: 800px;
    float: left;
    background-image: url(images/back.png);
    background-size: cover;
    border: solid 3px;
    border-color: rgba(255, 0, 0, 0.449);
}

h1 {
    color: rgb(255, 208, 208);
    font-size: 80px;
    font-family: fantasy;
    margin-bottom: 0%;
    padding-left: 25px;

}

h2 {
    color: rgb(255, 208, 208);
    font-size: 45px;
    font-family: fantasy;
    margin-bottom: 0%;
    padding-left: 25px;
}

h5 {
    color: rgb(255, 208, 208);
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 25px;
}



a {
    color: rgb(255, 208, 208);
    font-size: 30px;
}

header {
    margin: auto;
    width: 1920px;
}

img {
    width: 728px;

    border: solid 5px;
    border-color: rgba(255, 0, 0, 0.287);

}

hr {
    color: rgba(71, 4, 4, 0.645);

}

li {
    background-image: url(images/summary.png);
    width: 200px;
    height: 400px;
    z-index: 999;
    list-style-type: none;
    display: flex;
    margin: 0%;
    padding:0%;
}

nav {
    position: absolute;
    z-index: 999;
    width: 1560px;
    background-image: url(images/summary.png);
    color: rgb(139, 163, 184);
    font-weight: bold;
    border: solid;
    border-color: rgb(0, 0, 0);
    font-size: 40px;
    padding-left: 15%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a {
    color: rgb(6, 53, 73);
    background-color: rgba(205, 231, 243, 0.791);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    margin: auto;
    width: 1920px;
}

footer a {
    text-align: center;
    font-size: 92px;
    text-decoration: none;
    padding: 17%;
    color: rgb(255, 208, 208);
}

footer {
    clear: both;
    margin: auto;
    width: 1920px;
    background-image: url(images/back.png);
    border: solid rgba(255, 0, 0, 0.449);
}

section a {
    padding-left: 25px;
}
